
.MainPanel{
	position:100px 700px 0px;
}

.UILabel
{
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 19px;
    text-shadow: -1px 1px 2px 2.0 #000000;
    text-transform: uppercase;
    color: #CCB966;
}

#HeroDetails
{
	position:395px 155px 0px;
    flow-children: down;
    transition: transform 1.0s linear 0.0ms;
}

#HeroPortraitContainer
{
	margin-top:25px;
	margin-left:-20px;
    opacity: 0.98;
    width: 160px;
    height: 160px;
    overflow:clip;
    opacity-mask: url('file://{images}/custom_game/portrait_mask.png');
}

#HeroPortrait
{
	margin-top:-45px;
	margin-left:-12px;
    width: 180px;
    height: 240px;
}

#HeroNameContainer
{
	width:120px;
	text-align:center;
}

#HeroNameLabel
{
	padding-left:10%;
	text-align:center;
    vertical-align: middle;
}

.AbilityPanel
{
    flow-children: right;
    horizontal-align: center;
}

#MainAbilityPanel{
	position:590px 230px 0px;
	flow-children:down;
	height:180px;
	width:650px;
}

#Bars{
	position:650px 175px 0px;
	flow-children:down;
}

.AspectRatio16x10 #Bars{
	position:535px 175px 0px;
}
.AspectRatio5x4 #Bars{
	position:420px 175px 0px;
}
.AspectRatio4x3 #Bars{
	position:450px 175px 0px;
}

#CurrentHealth{
	background-image: url("file://{images}/custom_game/hpbar.png");
	/* background-color:red; */
	height:100%;
	background-size:500px 25px;
}
#HealthBar{
	margin-top:-10px;
}

#ManaBar{
	/* margin-top:10px; */
}

#CurrentMana{
	background-image: url("file://{images}/custom_game/mpbar.png");
	height:100%;
	background-size:500px 25px;
}

#CurrentGold{
	background-image: url("file://{images}/custom_game/goldbar.png");
	height:100%;
	background-size:500px 25px;
}

.HPMPText{
	height:100%;
	width:100%;
	text-align:center;
	vertical-align:center;
	font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 19px;
    text-shadow: -1px 1px 2px 2.0 #000000;
    text-transform: uppercase;
    color: white;
}
.RegText{
	height:100%;
	width:100%;
	text-align:right;
	vertical-align:center;
	font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 19px;
    text-shadow: -1px 1px 2px 2.0 #000000;
    text-transform: uppercase;
    color: white;
}

.Bar{
	height:25px;
	width:500px;
    border: 2px solid #333333;
    /*box-shadow: inset #333333 2px 2px 4px 4px;*/
    box-shadow: black 0px 0px 4px 0px;
    border-radius: 2px;
    transition-property: background-color, opacity;
    transition-duration: 0.5s;
}

#Stats{
	position:200px 200px 0px;
	flow-children:down;

}

#Attack{
	background-image:url("file://{images}/custom_game/sword_icon.png");
	width:205px;
	height:67px;
	background-size:75%;
	background-repeat:no-repeat;
}

#AttackText{
	position:50px -9px 0px;
	width:50%;
	height:40%;
	text-align:center;
	vertical-align:center;
	font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 24px;
    text-shadow: -1px 1px 2px 2.0 #000000;
    text-transform: uppercase;
    color: white;
}

.GreenText{
	color:green;
}
.Tooltip{
	background-color: #FFFFFF;
}
#Tooltip{
	width:25px;
	height:15px;
}
#Armor{
	background-image:url("file://{images}/custom_game/armor_icon.png");
	width:218px;
	height:218px;
	background-size:50%;
	background-repeat:no-repeat;
}

#ArmorText{
	position:-15px -25px 0px;
	width:50%;
	height:40%;
	text-align:center;
	vertical-align:center;
	font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
    font-size: 24px;
    text-shadow: -1px 1px 2px 2.0 #000000;
    text-transform: uppercase;
    color: white;
}

.AspectRatio16x10 #HeroDetails
{
	position:285px 155px 0px;
    flow-children: down;
    transition: transform 1.0s linear 0.0ms;
}

.AspectRatio16x10 #MainAbilityPanel{
	position:470px 230px 0px;
	flow-children:down;
	height:180px;
	width:650px;
}

.AspectRatio4x3 #HeroDetails
{
	position:225px 155px 0px;
    flow-children: down;
    transition: transform 1.0s linear 0.0ms;
}

.AspectRatio4x3 #MainAbilityPanel{
	position:385px 230px 0px;
	flow-children:down;
	height:180px;
	width:650px;
}

.AspectRatio5x4 #HeroDetails
{
	position:225px 155px 0px;
    flow-children: down;
    transition: transform 1.0s linear 0.0ms;
}

.AspectRatio5x4 #MainAbilityPanel{
	position:350px 230px 0px;
	flow-children:down;
	height:180px;
	width:650px;
}



.AbilityButton
{
    width: 48px;
    height: 48px;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 2px #7b612b;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#c88423), color-stop(0.25, #c88423), color-stop(0.5, #fffb84), color-stop(0.75, #c88423), to(#9a6717));
    margin:5px;
    border-radius: 5px;
    background-color: black;
    tooltip-position: top;
    tooltip-body-position: 50% 100%;

    transition-property: transform, saturation, wash-color, box-shadow;
    transition-duration: 0.1s;
}

.AbilitySilenced
{
    background-image: url("file://{images}/custom_game/silence.png");
    background-size: 90% 90%;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.25s;
}

.AbilityStunned
{
    background-image: url("s2r://panorama/images/custom_game/stun.png");
    background-size: 90% 90%;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.25s;
}

.AbilityDisabled{
    background-size: 90% 90%;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.25s;
}

.AbilityButtonEnabled
{
    box-shadow: 0px 0px 5px 0px #0094FF;
}

.AbilityButtonDeactivated
{
    box-shadow: 0px 0px 5px 0px black;
    saturation: 0.1;
}

.AbilityButtonEnabled
{
    box-shadow: 0px 0px 5px 0px #0094FF;
}

.AbilityButtonToggled
{
    box-shadow: 0px 0px 5px 0px yellow;
}

.AbilityButtonOnCooldown
{
    box-shadow: 0px 0px 5px 0px red;
    saturation: 0.1;
}

.AbilityButtonInside
{
    background-color: gray;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    horizontal-align: center;
    vertical-align: bottom;
    /*transition-property: clip;
    transition-duration: 0.01s;*/
}

.AbilityBeingCast
{
    wash-color: #93FF3E;
}

.ShortcutText
{
    font-size: 10;
    margin: 8px;
    vertical-align: bottom;
    horizontal-align: center;
    text-shadow: 0px 0px 8px 8.0 #333333b0;
}

.CooldownText
{
    font-size: 14;
    vertical-align: middle;
    horizontal-align: center;
    text-shadow: 0px 0px 8px 8.0 #333333b0;
}

.ManaCostText
{
    font-size: 14;
    vertical-align: top;
    horizontal-align: center;
	color:#3366FF;
    text-shadow: 0px 0px 8px 8.0 #333333b0;
}

/* Animation by Perry */

@define animStart: #ffffff00;
@define animStop: #ffffffbb;

@keyframes 'shineAnim'
{
    0%
    {
        opacity: 0;
        background-color: gradient(linear, 0% 100%, 100% 0%, from(animStart), color-stop(-0.1, animStop), color-stop(0.0, animStop), to(animStart));
    }

    20%
    {
        opacity: 1;
        background-color: gradient(linear, 0% 100%, 100% 0%, from(animStart), color-stop(-0.1, animStop), color-stop(0.0, animStop), to(animStart));
    }

    50%
    {
        background-color: gradient(linear, 0% 100%, 100% 0%, from(animStart), color-stop(0.45, animStop), color-stop(0.55, animStop), to(animStart));
    }

    80%
    {
        opacity: 1;
        background-color: gradient(linear, 0% 100%, 100% 0%, from(animStart), color-stop(1, animStop), color-stop(1.1, animStop), to(animStart));
    }

    100%
    {
        opacity: 0;
        background-color: gradient(linear, 0% 100%, 100% 0%, from(animStart), color-stop(1, animStop), color-stop(1.2, animStop), to(animStart));
    }
}

.CooldownEndShine {
    width: 100%;
    height: 100%;
    animation-name: shineAnim;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#Inventory{
	width:200px;
	flow-children:down;
}
#InventoryTop{
	height:50px;
	flow-children:right;
}
#InventoryBottom{
	height:50px;
	flow-children:right;
}