.AbilityTooltip {
	flow-children:down;
	max-width:450px;
	width:fit-children;
}

#AbilityName {
	horizontal-align:left;
	color:white;
}

#AbilityDetails {
	width: 100%;
	flow-children: down;
}

#Header {
	width: 100%;
	flow-children:right;
}
#AbilityHeader{
	width: 100%;
	flow-children:right;
}

#AbilityCoreDetails{
	flow-children: down;
	margin-top: 15px;
}

#requirements{
	color:orange;
}
#lumber_interval ,#lumber_amount{
	color:green;
}
#gold_gain{
	color:yellow;
}
#repair_speed{
	color:brown;
}