.ItemTooltip{
	flow-children:down;
	max-width:450px;
	width:fit-children;
}

#name{
	horizontal-align:left;
	color:white;
}
#manaCost{
	horizontal-align:right;
}
#topText{
	flow-children:right;
	display:inline-block;
}
