.hud{
	position:0px 757px 0px;
}
.hud_background{
	background-image: url("file://{images}/custom_game/hud169.png");
	width:1920px;
	height:330px;
	background-size:1920px 330px;
}
#hud_blocker{
	position:282px 0px 0px;
	vertical-align:bottom;
	flow-children:right;
}

#blocker_minimap{
	width:33px;
	height:330px;
	vertical-align:bottom;
}
#blocker_hero{
	width:340px;
	height:240px;
	vertical-align:bottom;
}
#blocker_skill_bar{
	width:966px;
	height:170px;
	vertical-align:bottom;
}
#blocker_right_side{
	width:300px;
	height:230px;
	vertical-align:bottom;
}

.AspectRatio16x10 .hud_background{
	margin-top:2px;
	background-image: url("file://{images}/custom_game/hud1610.png");
	width:1728px;
	height:320px;
	background-size:100%;
}
.AspectRatio16x10 #blocker_minimap{
	width:28px;
	height:310px;
}
.AspectRatio16x10 #blocker_hero{
	width:240px;
	height:230px;
}
.AspectRatio16x10 #blocker_skill_bar{
	width:880px;
	height:165px;
}
.AspectRatio16x10 #blocker_right_side{
	width:300px;
	height:230px;
}

.AspectRatio4x3 .hud_background{
	margin-top:2px;
	background-image: url("file://{images}/custom_game/hud43.png");
	width:1440px;
	height:320px;
	background-size:100%;
}
.AspectRatio4x3 #blocker_minimap{
	width:35px;
	height:310px;
}
.AspectRatio4x3 #blocker_hero{
	width:175px;
	height:230px;
}
.AspectRatio4x3 #blocker_skill_bar{
	width:640px;
	height:160px;
}
.AspectRatio4x3 #blocker_right_side{
	width:310px;
	height:240px;
}

.AspectRatio5x4 .hud_background{
	margin-top:2px;
	background-image: url("file://{images}/custom_game/hud54.png");
	width:1350px;
	height:320px;
	background-size:100%;
}
.AspectRatio5x4 #blocker_minimap{
	width:15px;
	height:310px;
}
.AspectRatio5x4 #blocker_hero{
	width:175px;
	height:230px;
}
.AspectRatio5x4 #blocker_skill_bar{
	width:595px;
	height:160px;
}
.AspectRatio5x4 #blocker_right_side{
	width:285px;
	height:240px;
}