.PlayerDead{
	width:100%;
	height:100%;
	background-size:100%;
	background-color:gray;
	opacity:0.2;
}
.PlayerTableContainer{
	width:100%;
}
#PlayerTable{
	text-align:right;
	horizontal-align:right;
	vertical-align:top;
	flow-children:right;
}
.PlayerInfo{
	flow-children:down;
}
.HeroImage{
	width:102px;
	height:68px;
	border:3px solid baseBorder;
}